body {
    background-color: rgb(255, 245, 235);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: left;
    color: rgb(75, 75, 75);
    margin: 0px;
}

header {
    padding: 25px 0px 0px 0px;
}

h1, #add_title {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 0px 50px 50px 50px;
}

.story {
    min-height: 100px;
    text-indent: 10%;
}

p {
    text-indent: 5%;
}

#add_word {
    display: inline;
}

span {
    font-size: 22px;
}

input {
    background-color: rgb(255, 245, 235);
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: rgb(75, 75, 75);
}

input:focus {
    outline: none;
}

.buttons {
    text-align: right;
}

button {
    border: 1px solid rgb(27, 82, 61);
    background-color: rgb(250,255,255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color:  rgb(77, 132, 111);
    margin: -25px 0px 0px 5px;
    box-shadow: 2px 2px 2px rgb(85, 85, 85);
    transition: box-shadow .5s, color .5s;
    border-radius: 10%;
    height: 60px;
    width: 100px;
  }

button:hover {
    box-shadow: 1px 1px 1px rgb(100, 125, 125);
    color: rgb(0,100,100);
  }

.message {
    width: 50%;
    text-align: center;
    display: inline;
}

.message > p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 132, 111);
    text-indent: 0%;
    margin-top: -10px;
    transition: all .3s;
}

.date {
    text-indent: 0%;
    font-size: 14pt;
    margin-top: -14px;
    margin-bottom: -6px;
    font-weight: 500;
    color: rgb(77, 132, 111)
}

h2 {
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.about {
    background-color: rgba(117, 172, 151, 0.3);
    max-width: 50%;
    min-width: 300px;
    margin: 50px auto auto auto;
    padding: 2px 20px 5px 20px;
}

h3 {
    font-size: 24px;
}

.about > p {
    text-indent: 0%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(77, 132, 111);
    transition: color .5s;
}

a:hover {
    text-decoration: none;
    color: rgb(117, 172, 151);
}

nav {
    border-bottom: 1px solid rgb(225,230,225);
    background-color: rgba(117, 172, 151, 0.9);
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    padding: 15px;
    margin: 0px 0px 0px 5px;
}

.nav-item {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.active {
    font-weight: bold;
}

.nav-item > a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    transition: color .5s;
    font-size: 22px;
}

.nav-item > a:hover {
    color: rgb(245, 255, 245);
}

footer {
    text-align: center;
    position: fixed;
    background-color: rgba(250,255,250,.9);
    bottom: 0;
    width: 100%;
    padding: 8px;
}

footer > p {
    margin: 0px;
    font-size: 12px;
}
