{% extends "layout.html" %}

{% block nav %}
  <nav>
      <ul class="nav-bar">
          <li class='nav-item'><a href='/'>home</a></li>
          <li class='nav-item'><a href='/archive'>archive</a></li>
          <li class='nav-item active'><a href='/about'>about</a></li>
      </ul>
  </nav>
{% endblock %}

{% block main %}
    <div class='about'>
      <h3>about</h3>
      <p>Word By Word was inspired by the improv game 'one word story.' In the game,
        a group tells a story one word at a time, with each person taking turns adding
        a single word to the thread. This site allows you to write a story with others near or far.
        Contribute to a story, or see what we have already written together.
      <p>
      <p>I am a former lawyer and burgeoning software engineer living in Brooklyn, New York
        with my family. I love to solve puzzles and build interesting things. <a href="https://www.linkedin.com/in/jennymklein" target='_blank'>Let me know what you think.<a>
      <p>
    </div>
{% endblock %}