{% extends "layout.html" %}

{% block nav %}
  <nav>
      <ul class="nav-bar">
          <li class='nav-item'><a href='/'>home</a></li>
          <li class='nav-item active'><a href='/archive'>archive</a></li>
          <li class='nav-item'><a href='/about'>about</a></li>
      </ul>
  </nav>
{% endblock %}

{% block main %}
    <header>
      <h1>Past Stories</h1>
    </header>
    <div class='stories'>
        {% for story in stories|reverse %}
          <h2>{{stories[story].title}}</h2>
          <p>{{stories[story].content}}<p>
        {% endfor %}
    </div>
{% endblock %}