{% extends "layout.html" %}

{% block main %}
    <header>
      <h1>Word by Word</h1>
    </header>
    <div class='story'>
        <span>{{story}}</span>
        <form action="/" id="add_word" method="post">
          <input autocomplete="off" autofocus='autofocus' name="add_word" type="text">
        </form>
    </div>
    <div class='buttons'>
        <form action="/" method="post">
        <!-- <button name='new_para' value='new_para'>new paragraph</button> -->
        <button name='end_story' id='end_story' value='end_story'>end story</button>
        </form>
    </div>
{% endblock %}