{% extends "layout.html" %}

{% block nav %}
  <nav>
      <ul class="nav-bar">
          <li class='nav-item active'><a href='/'>home</a></li>
          <li class='nav-item'><a href='/archive'>archive</a></li>
          <li class='nav-item'><a href='/about'>about</a></li>
      </ul>
  </nav>
{% endblock %}

{% block main %}
    <header>
      <h1>Word by Word</h1>
    </header>
    <div class="message">
      <p id="apology">Type a single word and press enter to submit</p>
    </div>
    <div class='story'>
        <span id='curr_story'>{{story}}</span>
        <form action="/" id="add_word" method="post">
          <input autocomplete="off" autofocus='autofocus' name="add_word" type="text">
        </form>
    </div>
    <div class='buttons'>
        <form action="/" method="post">
        <button name='end_story' id='end_story' value='end_story'>end story</button>
        </form>
    </div>
    <!-- <div class="error">
      <p hidden id="apology"></p>
    </div> -->
{% endblock %}