<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0 width=device-width">
        <title>Word by Word</title>
        <!-- styles-->
        <link rel="stylesheet" href="/static/word_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Hubballi&family=Libre+Baskerville&display=swap" rel="stylesheet">
        <!-- scripts -->
        <script src="{{ url_for('static', filename='wordbyword.js') }}" type='text/javascript'></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        {% block nav %}{% endblock %}
 
        <main>
            {% block main %}{% endblock %}
        </main> 
        <footer>
            <p>JENNY KLEIN &#169; 2022</p>
        </footer>
    </body>
</html>

