{% extends "layout.html" %}

{% block nav %}
  <nav>
      <ul class="nav-bar">
          <li class='nav-item active'><a href='/'>home</a></li>
          <li class='nav-item'><a href='/archive'>archive</a></li>
          <li class='nav-item'><a href='/about'>about</a></li>
      </ul>
  </nav>
{% endblock %}

{% block main %}
    <header>
      <h1>
      <form action="/title" id="title" method="post">
        <input autocomplete="off" autofocus='autofocus' id="add_title" name="add_title" type="text" placeholder='Add Title'>
      </form>
      <h1>
    </header>
    <div class='story'>
        <span>{{story}}</span>
    </div>
{% endblock %}